html {
    background-color: #6394f8;
    color: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/22px "Lato", Arial, sans-serif;
    background: #6394f8;

}
form{

}

nav {
    padding: 20px 0 40px 0;
    background: #f8f8f8;
    font-size: 16px;
}

ul {
    display: inline;
    padding-left: 20px;
    color: #777777;
    text-decoration: none;
}

.navbar-left {
    float: left;
}

.container {
    margin: auto;
    width: 80%;
}

#mainHeader {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    bottom: 15px;
    right: 10px;
}
p{
    padding: 5px;
    width: fit-content;
}
a{
    padding: 5px;
    color: white;
}
a:visited { 
    text-decoration: none; 
    color: white;
}
form {
    flex-flow: column;
    justify-content: left;
    flex-direction: column;
    display: flex;
    position: relative;
    transition: 1s;
    width: 200px;
    justify-content: space-evenly;
    height: 230px;
    padding: 30px;
    background-color: white;
    margin: 20px;
    color: #474747;
    float: left;
    border: 3px solid #535353;
    bottom: 50px;
}
p{
    padding: 21px;
    bottom: 60px;
    width: fit-content;
    position: relative;
}
h2{
    position: absolute;
    bottom: 230px;
}
h4{
    color: #474747;
    justify-content: left;
    display: flex;
    width: 100%;
    height: fit-content;
    float: left;
    margin-right: 20px;
    top: -30px;
    position: relative;
    padding-left: 20px;
}
#loginSubmit {
    background: #6394f8;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: none;
}

#loginSubmit:hover {
    background: #b6c8f8;
    transition: .3s;
}
input {
    color: black;

    text-align: center;
}
h2{

}