<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce Create an Account</title>
        <link rel="stylesheet" href="../css/createUserStyle.css">
        <body>
            <h1>Create an Account</h1>
            <p>Fill out this form with valid infomation to create an account.</p>
            <form id="userCreationForm">
                <input id= "firstName" name="firstName" type="text" placeholder="First Name", required>
                <input id= "lastName" name="lastName" type="text" placeholder="Last Name", required>
                <input id="userName" name="userName" type="text" placeholder="Username", required>
                <input id="email" name="email" type="text" placeholder="Email", required>
                <input id="password" name="password" type="password" placeholder="Password", required>
                <button id="createUserSubmit">Create Account</button>
            </form>
    </head>
</html>