<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create an Account</title>
        <link rel="stylesheet" href="../css/createUserStyle.css">
    </head>
    <nav>
        <div class="conatainer">
            <ul class="navbar-left">
                <li id="mainHeader">E-Commerce User Creation</h2></li>
            </ul>
        </div>
    </nav>
    <body>
        <h3>Fill out this form with valid infomation to create an account.</h3>
        <form id="userCreationForm">
            <h2>User Creation</h2>
            <input autocomplete="off" id="username" name="username" type="text" placeholder="Username", required>
            <input autocomplete="off" id="email" name="email" type="text" placeholder="Email", required>
            <input autocomplete="new-password" id="password" name="password" type="password" placeholder="Password", required>
            <button id="createUserSubmit">Create Account</button>
        </form>
    </body>
    <script src="../javascript/createUser.js"></script>
    <script src="../javascript/validation.js"></script>
</html>