<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce Login</title>
        <link rel="stylesheet" href="../css/LoginStyle.css">
        <body>
            <h1>Login</h1>
            <p>Please enter your username and password.</p>
            <form id="loginForm">
                <input id="userName" name="userName" type="text" placeholder="Enter UserName or Email", required>
                <input id="password" name="password" type="password" placeholder="Password", required>
                <button id="loginSubmit">Sign In</button>
            </form>
    </head>
</html>